<!-- FOOTER OF EVERY PAGE -->
    <div class="footer">
      <hr>
      <span>This website was created by Zsolt Varga as a coursework submission
      for Edinburgh Napier University. All rights reserved.</span>

    </div>
    </div> <!-- mainContainer div closing tag -->
    <!-- <script src="../JS/navbar.js"></script> -->
  </body>
</html>
