        <div class="bubble backShadow sitePale" id="staticPostsBubble">
          <a href="/groups/saved">
            <div class="bubbleTop siteBlue menuTypeface whiteText selectionBlue">
              Saved Vents
            </div>
          </a>
          <a href="/groups/originals">
            <div class="bubbleBottom siteBlue menuTypeface whiteText selectionBlue">
              Originals
            </div>
          </a>
        </div>
        <div class="bubble backShadow sitePale" id="myGroupsBubble">
          <div class="bubbleTop siteBlue menuTypeface whiteText">
            <strong>GROUPS</strong>
          </div>

          <!-- loop through groups and add them to the sidebar, modify <a> tag -->
          <a href="/groups/grouIDright_here">
            <div class="bubbleContent sitePale menuTypeface blueText selectionWhite">
              Public
            </div>
          </a>
          <a href="/groups/grouIDright_here">
            <div class="bubbleContent sitePale menuTypeface blueText selectionWhite">
              Waiters united
            </div>
          </a>
          <a href="/groups/grouIDright_here">
            <div class="bubbleContent sitePale menuTypeface blueText selectionWhite">
              There is no dog
            </div>
          </a>
          <a href="/groups/grouIDright_here">
            <div class="bubbleContent sitePale menuTypeface blueText selectionWhite">
              WTF
            </div>
          </a>

          <!--this one stays-->
          <a href="/groups/new">
            <div class="bubbleBottom siteBlue menuTypeface whiteText selectionBlue">
              + Create New
            </div>
          </a>
        </div>
