        <div class="bubble backShadow sitePale" id="staticPostsBubble">
          <a href="/saved">
            <div class="bubbleTop siteBlue menuTypeface whiteText selectionBlue">
              Saved Vents
            </div>
          </a>
          <a href="/originals">
            <div class="bubbleBottom siteBlue menuTypeface whiteText selectionBlue">
              Originals
            </div>
          </a>
        </div>
        <div class="bubble backShadow sitePale" id="myGroupsBubble">
          <div class="bubbleTop siteBlue menuTypeface whiteText">
            <strong>GROUPS</strong>
          </div>

          <!-- loop through groups and add them to the sidebar, modify <a> tag -->
          <% for (var i=0; i < allGroups.length; i++){ %>
            <a href= <%= "/groups/" + allGroups[i]._id %> >
              <div class="bubbleContent sitePale menuTypeface blueText selectionWhite">
                <%= allGroups[i].name %>
              </div>
            </a>
          <% } %>

          <!--this one stays-->
          <a href="/groups/new">
            <div class="bubbleBottom siteBlue menuTypeface whiteText selectionBlue">
              + Create New
            </div>
          </a>
        </div>
