        <!-- sort by selection -->
        <div class="sortByContainer" id="sortContainer">
          <span class="SortByTag">
            <i class="fas fa-sort sm"></i>
            <span>Sort by:</span>
          </span>
          <div class="sortBySelection " id="sortSelection">
            <span class="hoverDark">Newest</span>
            <span class="hoverDark">Oldest</span>
            <span class="hoverDark">Most Popular</span>
          </div>
        </div>
