        <!-- sort by selection -->
        <div class="sortByContainer" id="sortContainer">
          <span class="SortByTag">
            <i class="fas fa-sort sm"></i>
            <span>Sort by:</span>
          </span>
          <div class="sortBySelection " id="sortSelection">
            <a href="/groups/<%= ventGroup._id %>?sorting=0" id="newestSortLink">
            </a>
            <a href="/groups/<%= ventGroup._id %>?sorting=1" id="oldestSortLink">
            </a>
            <a href="/groups/<%= ventGroup._id %>?sorting=2" id="mostPopSortLink">
            </a>
          </div>
          <script type="text/javascript">
            var index = <%= sortIndex %>;
          </script>
        </div>
