<% include partials/header %>
      <div class="<% if(currentUser){ %> leftContainer <% } else { %> container100<% } %>">
        <div class="grayText">
          <h1>VENT.</h1>
        </div>
        <div class="bubble sitePale backShadow">
          <div class="ventBody">
            <div class="bubbleContent grayText">
              <h3>As the name may suggest, Vent is a platform for unwinding and
                venting! We like to think of it as a social network where everyone
                and anyone can speak their mind without being judged.</h3>
            </div>
          </div>
        </div>

        <div class="container100 grayText">
          <div class="container100">

            <h2>Key is category</h2>
          </div>

          <div class="container33" id="rantVentDesc">
            <div class="imageContainer">
              <img src="/Images/ventImg.png" class="indexImg" alt="">
            </div>
          </div><!--
       --><div class="container33" id="confessVentDesc">
            <div class="imageContainer">
              <img src="/Images/ventImg.png" class="indexImg" alt="">
            </div>
          </div><!--
       --><div  class="container33" id="ridicVentDesc">
            <div class="imageContainer">
              <img src="/Images/ventImg.png" class="indexImg" alt="">
            </div>
          </div>

          <div class="container100 regTextCenter">

            <h3>Hover over vent for more info</h3>
          </div>

        </div>

        <div class="bubble sitePale  backShadow">
          <div class="ventBody">
            <div class="bubbleContent grayText">
              <h3>You may find groups with topics that interest you and feel free
                to vent! We do, however, ask you to be respectful. Some groups will
                have their own rules set by the creator.</h3>
            </div>
          </div>
        </div>

        <div class="container100">
          <div class="container33left">
            <div class="imageContainer">
              <img src="/Images/ventImg.png" class="indexImg" alt="">
            </div>
          </div>
          <div class="container66right">
            <div class="bubble sitePale  backShadow">
              <div class="ventBody">
                <div class="bubbleContent grayText">
                  <h3>Don't worry, every vent is anonymous, so you only need to
                  worry about what you say in the comments.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% if(!currentUser){ %>
          <div class="lightGrayText regTextCenter">
            <h2>
              <a href="/login" class="clickableEdgeItem">
                Log in
              </a>
               or
               <a href="/register" class="clickableEdgeItem">
                 Register
               </a>
                to get started.</h2>
          </div>
        <% } %>

      </div>
      <% if(currentUser){ %>
        <!-- righandside sidebar -->
        <div class="rightContainer">

          <% include partials/sidebar %>
        </div>
      <% } %>



<% include partials/footer %>
