<% include partials/header %>
      <div class="leftContainer">

        <% if(VDisplay.length == 0) { %>
          <div class="bubble siteTransp">
            <div class="ventBody">
              <div class="bubbleContent">
                <div class="commentMessage">
                  You have no saved vents. Click the <i  class="far fa-star fa-sm"></i> icon to save vents.
                </div>
              </div>
            </div>
          </div>
        <% } else { %>

          <% include partials/ventPartial %>

        <% } %>
      </div>

      <!-- righandside sidebar -->
      <div class="rightContainer">
        <% include partials/sidebar %>
      </div>

<% include partials/footer %>
