<% include partials/header %>
      <div class="leftContainer">
          <div class="bubble backShadow" id="groupDescription">
          <div class="bubbleTop siteBlue menuTypeface whiteText">
            <strong>Name of Group HERE</strong>
          </div>
          <div class="bubbleContent sitePale">
            <div class="ventBody">
              Some information about the group here. Maybe some rules
              or type of vents people should be adding into the group. The text
              in here is justified, and uses the same format as every other vent
              by having the ventBody class!
            </div>
          </div>
          <div class="bubbleBottom sitePale edgeBar">
            <span class="comments">
              <i class="fas fa-hashtag fa-sm"></i>
              3459 Vents
            </span>
          </div>
        </div>

        <!-- sort by selection -->
        <div class="sortByContainer">
          <span class="SortByTag">
            <i class="fas fa-sort sm"></i>
            <span>Sort by:</span>
          </span>
          <div class="sortBySelection">
            <span>Newest</span>
            <span>Oldest</span>
            <span>Most Popular</span>
          </div>

        </div>

        <!-- one of these for each post -->
        <div class="bubble backShadow">
          <div class="bubbleTop sitePale edgeBar">
            <span class="ventDate">
              20th Feb 2018
            </span>
          </div>
          <div class="bubbleContent sitePale">
            <div class="ventBody">
              This is a VENT! I am so angry!!! AAAH!
            </div>
          </div>
          <div class="bubbleBottom sitePale edgeBar">
            <span class="comments">
              <i class="fas fa-comment fa-sm"></i>
              50 Comments
            </span>
            <span class="favourited">
              Favourited by 21
              <i class="far fa-star fa-sm"></i>
            </span>
          </div>
        </div>
        <!-- one of these for each post -->
        <div class="bubble backShadow">
          <div class="bubbleTop sitePale edgeBar">
            <span class="ventDate">
              20th Feb 2018
            </span>
          </div>
          <div class="bubbleContent sitePale">
            <div class="ventBody">
              This is a VENT! I am so angry!!! AAAH!
            </div>
          </div>
          <div class="bubbleBottom sitePale edgeBar">
            <span class="comments">
              <i class="fas fa-comment fa-sm"></i>
              50 Comments
            </span>
            <span class="favourited">
              Favourited by 21
              <i class="far fa-star fa-sm"></i>
            </span>
          </div>
        </div>
        <!-- one of these for each post -->
        <div class="bubble backShadow">
          <div class="bubbleTop sitePale edgeBar">
            <span class="ventDate">
              20th Feb 2018
            </span>
          </div>
          <div class="bubbleContent sitePale">
            <div class="ventBody">
              This is a VENT! I am so angry!!! AAAH!
            </div>
          </div>
          <div class="bubbleBottom sitePale edgeBar">
            <span class="comments">
              <i class="fas fa-comment fa-sm"></i>
              50 Comments
            </span>
            <span class="favourited">
              Favourited by 21
              <i class="far fa-star fa-sm"></i>
            </span>
          </div>
        </div>
      </div>

      <!-- righandside sidebar -->
      <div class="rightContainer">
        <div class="bubble backShadow" id="staticPostsBubble">
          <div class="bubbleTop siteBlue menuTypeface whiteText">
            Saved Vents
          </div>
          <div class="bubbleBottom siteBlue menuTypeface whiteText">
            Originals
          </div>
        </div>

        <div class="bubble backShadow" id="myGroupsBubble">
          <div class="bubbleTop siteBlue menuTypeface whiteText">
            <strong>GROUPS</strong>
          </div>
          <div class="bubbleContent sitePale menuTypeface blueText">
            Public
          </div>
          <div class="bubbleContent sitePale menuTypeface blueText">
            Waiters United
          </div>
          <div class="bubbleContent sitePale menuTypeface blueText">
            There is no god
          </div>
          <div class="bubbleContent sitePale menuTypeface blueText">
            Dogs
          </div>
          <div class="bubbleBottom siteBlue menuTypeface whiteText">
            + Create New
          </div>
        </div>
      </div>


<% include partials/footer %>
