<% include partials/header %>
      <div class="leftContainer">
          <div class="bubble backShadow" id="groupDescription">
          <div class="bubbleTop siteBlue menuTypeface whiteText">
            <strong>
              <%= ventGroup.name %>
            </strong>
          </div>
          <div class="bubbleContent sitePale">
            <div class="ventBody">
              <%= ventGroup.description %>
            </div>
          </div>
          <div class="bubbleBottom sitePale edgeBar">
            <span class="edgeBotLeft">
              <i class="fas fa-hashtag fa-sm"></i>
              <%= ventGroup.vents.length %> Vents
            </span>
          </div>
        </div>


        <% include partials/sorting %>
        <a href=" <%= "/groups/" + ventGroup._id + "/vent/new" %> ">
          <div class="addVentButton menuTypeface clickableEdgeItem">
            <i class="fas fa-plus fa-sm"></i>
            <span>Add Vent</span>
          </div>
        </a>

        <% include partials/ventPartial %>

      </div>

      <!-- righandside sidebar -->
      <div class="rightContainer">
        <% include partials/sidebar %>
      </div>

      <script type="text/javascript" src="/JS/sorting.js"></script>


<% include partials/footer %>
