<% include partials/header %>
      <div class="leftContainer">

      </div>

      <!-- righandside sidebar -->
      <div class="rightContainer">

        <% include partials/sidebar %>
      </div>

      <script type="text/javascript" src="/JS/sorting.js"></script>


<% include partials/footer %>
