<% include partials/header %>
      <div class="leftContainer">
          <div class="bubble backShadow">
          <div class="bubbleTop siteBlue menuTypeface whiteText">
            <strong>Create new VENT group</strong>
          </div>
          <div class="bubbleContent sitePale">
            <!-- <div class="ventBody">
              Some information about the group here. Maybe some rules
              or type of vents people should be adding into the group. The text
              in here is justified, and uses the same format as every other vent
              by having the ventBody class!
            </div> -->
            <form action="/groups" method="post" id="newgroupForm">
              <input type="text" name="name" placeholder="group name">
              <input type="text" name="keywords" placeholder="keywords separated by commas">
              <textarea name="description" rows="8" cols="80" placeholder="description and rules of group"></textarea>
            </form>
          </div>
          <div class="bubbleBottom sitePale">
            <button type="submit" form="newgroupForm" value="Creategroup"
            class="formButton siteBlue  whiteText">
              Create Group
            </button>
          </div>
        </div>

      </div>

      <!-- righandside sidebar -->
      <div class="rightContainer">
        <% include partials/sidebar %>
      </div>


<% include partials/footer %>
