<% include partials/header %>
      <div class="leftContainer">
          <div class="bubble backShadow">
          <div class="bubbleTop siteBlue menuTypeface whiteText">
            <strong>Add VENT to <%= ventGroup.name %> </strong>
          </div>
          <div class="bubbleContent sitePale">
            <div class="">
              <span>Rant</span>
              <span>Confession</span>
              <span>Ridiculous</span>
            </div>
            <form action="/vent?category=rant&group=fff> " method="post" id="newVentForm">
              <textarea name="content" rows="8" cols="80" placeholder="Just let it out."></textarea>
            </form>
          </div>
          <div class="bubbleBottom sitePale">
            <button type="submit" form="newVentForm" value="Vent"
            class="formButton siteBlue  whiteText">
              VENT!
            </button>
          </div>
        </div>

      </div>

      <!-- righandside sidebar -->
      <div class="rightContainer">
        <% include partials/sidebar %>
      </div>


<% include partials/footer %>
