<% include partials/header %>
      <div class="leftContainer">
          <div class="bubble backShadow">
          <div class="bubbleTop siteBlue menuTypeface whiteText">
            <strong>Add VENT to <%= ventGroup.name %> </strong>
          </div>
          <div class="bubbleContent sitePale">
            <form action="/groups/<%= ventGroup._id %>/vent" method="post" id="newVentForm">
              <div class="radioContainer">
                <div class="thirdWidthRadio">
                     <input type="radio" name="category" value="confession" id="confessionRadio">
                     <label for="confessionRadio">Confession</label>
                   </div><!--REMOVE WHITE SPACE BETWEEN INLINE BLOCKS
             --><div class="thirdWidthRadio">
                  <input type="radio" name="category" value="rant" checked="checked" id="rantRadio">
                  <label for="rantRadio">Rant</label>
                </div><!--REMOVE WHITE SPACE BETWEEN INLINE BLOCKS
             --><div class="thirdWidthRadio">
                  <input type="radio" name="category" value="ridiculous" id="ridiculousRadio">
                  <label for="ridiculousRadio">Ridiculous</label>
                </div>
              </div>
              <textarea name="content" rows="8" cols="80" placeholder="Just let it out."></textarea>
            </form>
          </div>
          <div class="bubbleBottom sitePale">
            <button type="submit" form="newVentForm" value="Vent"
            class="formButton siteBlue  whiteText">
              VENT!
            </button>
          </div>
        </div>

      </div>

      <!-- righandside sidebar -->
      <div class="rightContainer">
        <% include partials/sidebar %>
      </div>


<% include partials/footer %>
