<% include partials/header %>
      <div class="leftContainer">
        <div class="bubble siteTransp">
          <div class="bubbleContent">
            <div class="commentMessage">
              <%= msg %>
            </div>
          </div>
        </div>

      </div>

      <!-- righandside sidebar -->
      <div class="rightContainer">

        <% include partials/sidebar %>
      </div>

<% include partials/footer %>
