<% include partials/header %>
      <div class="leftContainer">

        <% include partials/ventPartial %>

        <!--  COMMENTS -->
        <div class="bubble siteTransp" id="commentsPane">
          <div class="bubbleTop siteTransp edgeBar edgeBarStyle">
            <span class="edgeTopLeft">
              Comments:
            </span>
          </div>
          <div class="bubbleContent">
            <div class="ventBody">

              <% for(var i=0; i < foundVent.comments.length; i++){ %>
                <div class="commentBubble sitePale ">
                  <div class="bubbleTop edgeBar edgeBarStyle">
                    <span class="edgeTopLeft">
                      <%= foundVent.comments[i].user.username %>
                    </span>
                  </div>
                  <div class="ventBody">
                    <div class="bubbleComContent">
                      <%= foundVent.comments[i].content %>
                    </div>
                  </div>
                </div>
              <% } %>

              <% if(foundVent.comments.length == 0){ %>
                <div class="commentMessage">
                  Be the first to comment!
                </div>

              <% } %>

              <!--  COMMENT FORM -->
              <div class="commentBubble addComment sitePale ">
                <div class="bubbleTop edgeBar edgeBarStyle">
                  <span class="edgeTopLeft">
                    Add a comment
                  </span>
                </div>
                <div class="bubbleContent">
                  <div class="ventBody">
                    <form action="/vent/<%= foundVent._id %>/comment" method="post" id="newCommentForm">
                      <textarea name="content" rows="8" cols="80" placeholder="Don't be shy"></textarea>
                    </form>
                  </div>
                </div>
                <div class="bubbleBottom sitePale">
                  <button type="submit" form="newCommentForm" value="CreateComment"
                  class="formButton siteBlue  whiteText">
                    Send
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


      <!-- righandside sidebar -->
      <div class="rightContainer">
        <% include partials/sidebar %>
      </div>


<% include partials/footer %>
