html{
  position: absolute;
  min-width: 100%;
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
}

h1{
  margin: 0 0 20px 0;
  font-size: 115px;
  line-height: 100px;
  font-weight: 700;
}

h2{
  margin: 5px 0;
  font-size:
}
h3{
  margin: 8px 0;
}


a{
  color: rgba(0,0,0, 0.55);
}

.background{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  background-size: cover;
  background: linear-gradient(to bottom, #8ab3d8 0%,#e6f1f7 100%)
}

.topSpacing{
  width: 100%;
  height: 70px;
}

.mainContainer{
  position: relative;
  margin: 0 auto;
  padding-bottom: 90px; /*for footer */
  min-height: 100%;
  width: 60%;
  min-width: 650px;
  box-sizing: border-box;
}

.verticalCentContainer{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.leftContainer{
  display: inline-block;
  width: 62%;
  box-sizing: border-box;
}

.rightContainer{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  float: right;
  width: 35%;
  box-sizing: border-box;
  min-height: 100%;
}

.sideBarContainer{
  position: relative;
}

.stickyCont{
  position: sticky;
  top: 50px;
}

.container100{
  position: relative;
  box-sizing: border-box;
  width:100%;
  margin: 0 0 20px 0;
}

.container33{
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  width: 33.3%;
}

.container33left{
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  width: 33.3%;
}
.container66right{
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: justify;
  padding-left: 20px;
  width: 66.6%;
}
.container40mid{
  width: 40%;
  margin: 0 auto;
}

.imageContainer{
  height: 115px;
}

.container33.bubble{
  margin-bottom: 10px;
}


.selectionWhite:hover{
  background-color: rgba(48, 126, 193, 0.15);
}
.selectionBlue:hover{
  /* background-color: #6092D1; */
  background-color: rgba(48, 126, 193, 0.85);
}

.addVentButton{
  padding: 0 16px;
  display: inline-block;
  float: right;
}
.addVentButton span {
  display: inline-block;
  margin-left: 5px;
}

.backShadow{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.bubble{
  transition: 0.3s;
  border-radius: 20px;
  margin-bottom: 18px;
  opacity: 1;
  visibility: visible;
}

div.container100 div.bubble:last-of-type{
  /* margin: 0; */
}

.commentBubble{
  border-radius: 20px;
  margin-bottom: 10px;
}

.commentBubble:first-of-type{
  margin-top: 10px;
}

.addComment{
  margin-top: 25px;
}

.bubbleTop{
  height: 30px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  box-sizing: border-box;
}

.bubbleBottom{
  height: 30px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  box-sizing: border-box;
}

.bubbleContent{
  transition: 0.3s;
  padding: 6px;
  min-height: 30px;
  height: auto;
  font-size: 16px;
  line-height: normal;
  box-sizing: border-box;
  visibility: visible;
  opacity: 1
}

.errorContent{
  padding: 30px 0;
}

.bubbleComContent{
  transition: 0.3s;
  padding: 0 6px;
  min-height: 30px;
  height: auto;
  font-size: 16px;
  line-height: normal;
  box-sizing: border-box;
  visibility: visible;
  opacity: 1
}

.backgroundImageContainer{
  position: absolute;
  top: -450px;
  left: -350px;
}

.indexImg{
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.paleImg{
  filter: invert(100%);
  opacity: 0.8;
}

.greyImg{
    opacity: 0.55;
}

.messageImg{
    opacity: 0.3;
}

.backgroundImage{
  opacity: 0.25;
  filter: invert(100%);
}

.redHoverImg:hover{
  opacity: 1;
  filter: invert(34%) sepia(73%) saturate(825%) hue-rotate(319deg) brightness(95%) contrast(104%);
}

.greenHoverImg:hover{
  opacity: 1;
  filter: invert(62%) sepia(68%) saturate(418%) hue-rotate(49deg) brightness(96%) contrast(87%);
}

.yellowHoverImg:hover{
  filter: invert(87%) sepia(98%) saturate(456%) hue-rotate(336deg) brightness(107%) contrast(94%);
}

.siteBlue{
  background-color: rgba(48, 126, 193, 1);
  /* background-color: #4894D6; */
}

.sitePale{
  background-color: #EDF5F9;
}

.siteTransp{
  background-color: rgb(237, 245, 249, 0.4);
}

.whiteText{
  color: white;
}

.blueText{
  color: rgba(48, 126, 193, 1);
  /* color: #4894D6; */
}

.grayText{
  color: rgba(0,0,0, 0.55);
}

.lightGrayText{
  color: rgba(0,0,0, 0.3);
}

.darkGrayText{
  color: rgba(0,0,0, 0.7)
}

.regText{
  line-height: 16px;
  font-size: 16px;
  font-weight: 600;
}

.regTextCenter{
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}






/* FORMS */
input{
  background-color: rgba(255,255,255, 0.8);
  border: none;
  font-size: 16px;
  margin: 0 auto 7px auto;
  display: block;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  text-align: center;
}
input[type=password]{
  margin: 0 auto ;
}
input:focus{
  outline: none;
}
button:focus{
  outline: none;
}
input[type=radio]{
  display: none;
}
label{
  line-height: 18px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: rgba(0,0,0, 0.35);
  transition: color 0.3s;
}
input[type=radio]:checked + label{
  color: rgba(0,0,0, 0.8);
}

label:hover{
  color: rgba(0,0,0, 0.8);
}
.searchInput{
  margin: 0 0 0 10%;
  width: 80%;
  display: inline-block;
  height: 30px;
  padding: 0;
  box-sizing: border-box;
}

.radioContainer{
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.thirdWidthRadio{
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  margin: 10px 0;
}






textarea{
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 120px;
  text-align: justify;
  margin: 0 auto;
  display: block;
  padding: 5px 15px;
  font-size: 16px;
  text-align: center;
  resize: none;
}

#editorDivQuill{
  font-family: inherit;
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 160px;
  background-color: white;
  text-align: justify;
  margin: 0 auto;
  display: block;
  font-size: 16px;
}

div.bubbleContent .ql-snow.ql-toolbar{
  border: none;
  text-align: center;
}

div.bubbleContent .ql-container{
  border:none;
}

div.displayDivQuill .ql-editor{
  padding: 0;
  font-family: inherit;
  font-size: 16px;
}

textarea:focus{
  outline: none;
}

.formBubble{
  width: 70%;
  margin: 0 auto  10px auto;
}

.formButton{
  margin: 0 auto;
  display: block;
  height: 25px;
  min-width: 20%;
  border: none;
  font-size: 15px;
}
.formButton:hover{
  cursor: pointer;
}
.deleteHover{
  transition: color 0.3s;
}
.deleteHover:hover{
  color: #db4343;
  cursor: pointer;
}






.commentMessage{
  text-align: center;
  margin-top: 5px;
  color: rgba(0,0,0, 0.3);
  font-size: 16px;
  font-weight: bold;
}

.menuTypeface{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.footer{
  color: rgba(0,0,0, 0.55);
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 40px;
}

hr{
  border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
