.ventBody{
  color: rgba(0,0,0, 0.7);
  font-size: 16px;
  text-align: justify;
  padding: 0 10px;
}

.edgeBar{
  transition: background-color 0.4s;
  position: relative;
}

.edgeBarStyle{
  color: rgba(0,0,0, 0.55);
  font-size: 16px;
  font-weight: bold;
}

.edgeTopLeft{
  position: absolute;
  display: inline-block;
  bottom: 15%;
  left: 18px;
}

.edgeBotLeft{
  position: absolute;
  top: 15%;
  left: 18px;
  display: inline-block;
  float: left;
}

.edgeTopRight{
  position: absolute;
  bottom: 15%;
  right: 18px;
  display: inline-block;
  float: right;
}

.edgeBotRight{
  position: absolute;
  top: 15%;
  right: 18px;
  display: inline-block;
  float: right;
}

.edgeLeft{
  position: absolute;
  display: inline-block;
  left: 18px;
  float: left;
}

.edgeRight{
  position: absolute;
  display: inline-block;
  right: 18px;
  float: right;
}

.clickableEdgeItem{
  transition: color 0.3s;
}

.clickableEdgeItem:hover{
  color: rgba(0,0,0, 0.8);
  cursor: pointer;
}
.bubble:hover > .rantColor{
  background-color: #db4343;
}

.bubble:hover > .confessionColor{
  background-color: #7ac13c;
}

.bubble:hover > .ridiculousColor{
  background-color: #f7ef56;
}
