.ventBody{
  color: rgba(0,0,0, 0.9);
  font-size: 16px;
  text-align: justify;
  padding: 0 10px;
  font-family: Arial;
}

.edgeBar{
  position: relative;
  color: rgba(0,0,0, 0.55);
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
}

.edgeTopLeft{
  position: absolute;
  display: inline-block;
  bottom: 15%;
  left: 18px;
}

.edgeBotLeft{
  position: absolute;
  top: 15%;
  left: 18px;
  display: inline-block;
  float: left;
}

.edgeTopRight{
  position: absolute;
  bottom: 15%;
  right: 18px;
  display: inline-block;
  float: right;
}

.edgeBotRight{
  position: absolute;
  top: 15%;
  right: 18px;
  display: inline-block;
  float: right;
}

.clickableEdgeItem:hover{
  color: rgba(0,0,0, 0.8);
  cursor: pointer;
}
.rantColor:hover{
  background-color: #db4343;
}

.confessionColor:hover{
  background-color: #7ac13c;
}

.ridiculousColor:hover{
  background-color: #f7ef56;
}
