<% include ../partials/header %>
      <div class="bubble siteTransp">
        <div class="bubbleContent">
          <div class="commentMessage">
            <%= msg %>
          </div>
        </div>
      </div>

<% include ../partials/footer %>
