<% include ../partials/header %>
      <div class="bubble siteTransp">
        <div class="bubbleContent errorContent">
          <div class="container100">
            <div class="container40mid">
              <img src="/Images/brokenventImgBlack.png" class="indexImg messageImg">
            </div>
          </div>

          <div class="commentMessage">
            <%= msg %>
          </div>
        </div>
      </div>

<% include ../partials/footer %>
