<% include ../partials/header %>
      <div class="leftContainer">
        <div class="bubble siteTransp">
          <div class="bubbleContent errorContent">
            <div class="container100">
              <div class="container40mid">
                <img src="/Images/brokenventImgBlack.png" class="indexImg messageImg">
              </div>
            </div>

            <div class="commentMessage">
              <%= msg %>
            </div>
          </div>
        </div>

      </div>

      <!-- righandside sidebar -->
      <div class="rightContainer">

        <% include ../partials/sidebar %>
      </div>

<% include ../partials/footer %>
